@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .menuList {
    display: none;
    @apply absolute left-0 py-3 bg-white top-[40px] w-[260px];
  }
  .open {
    display: block;
  }

  .info_pager span {
    @apply mx-1 cursor-pointer;
  }
  .info_pager .swiper-pagination-bullet-active {
    @apply bg-primary;
  }
  .scrollbar {
    overflow-y: overlay;
  }

  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(0, 125, 233);
    border-radius: 0.75rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(0, 125, 233, 0.1);
  }

  .scrollbar_g {
    overflow-y: overlay;
  }

  .scrollbar_g::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar_g::-webkit-scrollbar-thumb {
    background: lightgray;
    /* background: rgb(0, 125, 233); */
    border-radius: 0.75rem;
  }

  .scrollbar_g::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollbar_g::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

  .Toastify__toast-body {
    width: 100%;
  }
}

@layer utilities {
  .wrap {
    @apply relative w-full px-6 lg:px-0 lg:w-web lg:m-auto;
  }
}

body {
  @apply text-[3.125vw] lg:text-[16px] font-sans;
  line-height: 1.5;
}
