@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@layer components {
    .menuList {
        display:none;
        @apply absolute left-0 py-3 bg-white top-[40px] w-[260px];
    }
    .open {
        display:block;
    }

    .info_pager span {
        @apply mx-1 cursor-pointer;
    }
    .info_pager .swiper-pagination-bullet-active {
        @apply bg-primary;
    }

    .wrap {
        @apply relative w-full px-6 lg:px-6 xl:px-0 xl:w-web xl:m-auto;
    }

    .scroll {
        -ms-overflow-style: none;
        scrollbar-width: 0;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
    }
    .scroll::-webkit-scrollbar {
        display: none;
    }

    .scroll::-webkit-scrollbar-track {
        background: transparent;
    }

    .scroll::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

html {
    @apply relative text-[3.125vw] md:text-[14px] lg:text-[16px] xl:text-[16px] font-sans;
    line-height:1.5;
    font-family: 'Pretendard Variable', 'Roboto', sans-serif;
}